/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "ManulifeJHSansOptimized_3179380516";
  src: url("assets/fonts/ManulifeJHSansOptimized.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ManulifeJHSansOptimized_3179380516";
  src: url("assets/fonts/ManulifeJHSansOptimized.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ManulifeJHSansOptimized_3179380516";
  src: url("assets/fonts/ManulifeJHSansOptimized.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
